body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffcc99, #ff9966);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #333;
}


.cookie-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#cookie-type {
    font-weight: bold;
    font-size: 20px;
    color: #4CAF50;
    margin-bottom: 10px;
}

/* Поле ввода */
input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff7043;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e64a19;
}